
@media screen and (max-width: $phoneWidth + 1) { // because I said so.
	header {
		@include flexbox; 
		@include flex-flow(row wrap);

		height: auto;
	
		.logo {
			@include order(1);

			width: 50%;
			height: 50%;
		}
		.blurb {
			@include order(3);
  			
  			background-color: $headerColor;
  			width: 100%;
  			padding: 20px 20px 0;
  			padding-top: 10px;
			background-image: url(../img/board-and-phone-dark.jpg);
			background-position: center bottom;
			background-repeat: no-repeat;
			height: 450px;
			text-align: center;
		}
		.blurb .social-icons {
			display: none;
		}
		.blurb p {
			display: none;
			font-size: 12px;
		}
		.tagline.desktop {
			display: none;
			margin: 15px 0;
		}
		.blurb .tagline.mobile {
			display: inline-block;
			width: 70%;
			max-width: 200px;
			padding-top: 35px;
		}
		.board-and-phone.mobile {
			display: inline-block;
			margin-bottom: -2px;
		}
		form {
			@include flexbox;
			@include order(2);
			@include flex-flow(column nowrap);

			width: 50%;
			height: auto;

			@media screen and (max-width: 480px) {
				padding: 5px 10px;

				input[type="text"][name],
				input[type="email"][name] { 
					margin-bottom: 5px;
					margin-top: 0;
				}

				button[type] {
					margin: 0;
				}

				label {
					font-size: 12px;
					margin: 0 0 5px 0;
					white-space: nowrap;
				}
			}


			input[type="text"], 
			input[type="email"],
			button {
				@include flex-grow(1);
				margin-bottom: 10px;
			}
		}
	}

	// Small screen waves
	.waves {
		margin-bottom: 0;
	}
	.wave {
		width: 100%;
	}

	// Small Screen Footer

	footer {
		margin-top: 0;
		padding-top: 75px;
		border-bottom: 0;
		position: relative;
	}
	footer ul {
		@include flexbox;
		@include justify-content(space-around);

		.link {
			margin-right: 0;
		}
	}
	footer .social-icons {
		display: block;
		top: 20px;
		right: calc(50% - 91px);
	}

	footer .social-icons .over {
		width: 75px;
	}
}