// Fonts
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$notoSans: "Noto Sans", sans-serif; 

// Colors
$baseColor: rgb(0,42,64);
$green: rgb(142,197,73);
$headerColor: rgb(0, 61, 84);
$placeHolderColor: rgb(175,175,175);

// Common Dimensions
$headerHeight: 200px;
$maxWidth: 1200px;
$tabletWidth: 1024px;
$tabletPortrait: 768px;
$phoneWidth: 736px;
$portraitPhoneWidth: 690px;