@import "social.scss";
@import "variables.scss";

.justify-single-line {
  // We want to justify the given text, but justify doesn't work on the
  // last line. So we add another line, and then not show that line.
  // Taken from http://blog.vjeux.com/2011/css/css-one-line-justify.html
  // Taken from http://stackoverflow.com/a/23038536/2557842
  // Should not be used on something that will break to multiple lines.
  text-align: justify;
  height: 1em;
  line-height: 1;
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1%;
    font-size: 0.0001em;
  }
}
