/* Red9 Sensor Marketing site
 *
 * Author: Merwan Rodriguez 
 * Design: Juan Bobillo
 *
 **/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #002a40;
  color: white;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased; }
  body *,
  body *:after,
  body *:before {
    box-sizing: border-box; }

.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

header {
  width: 100%;
  height: 200px;
  background-color: #003d54;
  overflow: hidden; }
  header .logo {
    width: 200px;
    height: 200px;
    float: left; }
  header .blurb {
    height: 100%;
    padding: 30px;
    float: left;
    width: calc(100% - 400px);
    background: url(../img/board-and-phone-dark.jpg) no-repeat;
    background-position: 94% 10px;
    background-size: 183px auto;
    position: relative;
    -webkit-transition: width 420ms ease-out;
    -moz-transition: width 420ms ease-out;
    -ms-transition: width 420ms ease-out;
    -o-transition: width 420ms ease-out;
    transition: width 420ms ease-out; }
    @media screen and (max-width: 955px) {
      header .blurb {
        background-image: none;
        padding: 15px; } }
    header .blurb .blurb-wrapper {
      width: 70%; }
      @media screen and (max-width: 955px) {
        header .blurb .blurb-wrapper {
          width: 100%; } }
    header .blurb h1 {
      text-indent: -9000px;
      position: absolute; }
    header .blurb .tagline {
      width: 100%;
      margin-bottom: 10px; }
      @media screen and (max-width: 768px) {
        header .blurb .tagline {
          margin-bottom: 0; } }
    header .blurb .tagline.mobile {
      display: none; }
    header .blurb p {
      line-height: 1.6;
      text-align: justify;
      font-size: 10px;
      max-width: 540px; }
  header form {
    background-color: #8ec549;
    width: 200px;
    height: 200px;
    padding: 20px;
    float: right;
    position: relative; }
    header form label {
      color: #003d54;
      font-size: 14px;
      width: 100%;
      display: block;
      margin: 10px 0;
      white-space: nowrap; }
    header form input[type="text"],
    header form input[type="email"] {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      background-color: #003d54;
      height: 30px;
      color: white;
      width: 100%;
      margin-bottom: 5px;
      padding-left: 10px;
      border: 0; }
    header form input:focus {
      background-color: white;
      color: #003d54; }
    header form button {
      color: #003d54;
      background-color: transparent;
      border: 0;
      width: 100%;
      margin-top: 10px; }
    header form ::-webkit-input-placeholder {
      color: #afafaf; }
    header form :-moz-placeholder {
      /* Firefox 18- */
      color: #afafaf; }
    header form ::-moz-placeholder {
      /* Firefox 19+ */
      color: #afafaf; }
    header form :-ms-input-placeholder {
      color: #afafaf; }
    header form .logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }

.social-icons {
  position: absolute;
  overflow: hidden;
  height: 40px;
  right: -45px;
  top: 10px;
  width: 140px; }
  @media screen and (max-width: 955px) {
    .social-icons {
      top: auto;
      bottom: 0;
      right: -40px; } }
  @media screen and (max-width: 691px) {
    .social-icons {
      top: 60%;
      right: 0; } }

.social-icons .over {
  position: absolute;
  left: 13px;
  pointer-events: none;
  z-index: 0;
  width: 60px; }

.fb-like,
.twitter-hashtag-button {
  opacity: 0;
  display: inline-block !important;
  max-width: 50px;
  top: 8px;
  position: relative;
  z-index: 1; }

.waves {
  float: left;
  margin-bottom: 20px; }

.wave {
  width: 33.333%;
  float: left;
  margin-top: -1px; }
  @media screen and (min-width: 1200px) {
    .wave {
      width: 33.334%; } }
  @media screen and (max-width: 769px) {
    .wave {
      width: 50%;
      margin-top: 0; } }
  .wave img {
    width: 100%;
    vertical-align: top; }

footer {
  margin-top: 50px;
  width: 100%;
  border-bottom: solid 1px #f5f5f5;
  -webkit-transition: margin-top 250ms ease-in;
  -moz-transition: margin-top 250ms ease-in;
  -ms-transition: margin-top 250ms ease-in;
  -o-transition: margin-top 250ms ease-in;
  transition: margin-top 250ms ease-in; }
  @media screen and (max-width: 1025px) {
    footer {
      margin-top: 30px; } }

footer .social-icons {
  display: none; }

footer .links {
  max-width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 1201px) {
    footer .links {
      padding: 0 10px; } }

footer .link {
  margin: 0 40px 20px 0;
  display: inline-block;
  position: relative;
  font-size: 14px; }
  @media screen and (max-width: 1025px) {
    footer .link {
      padding-bottom: 0; } }
  footer .link a,
  footer .link a:visited,
  footer .link a:active,
  footer .link a:hover {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: normal; }
  footer .link a:hover {
    text-decoration: underline; }

.pagelet {
  height: 0;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  padding-top: 20px;
  font-size: .8em;
  background-color: #003d54; }
  .pagelet h2 {
    font-size: 2em;
    margin: 10px 0;
    color: #8ec549; }
  .pagelet p {
    margin: 10px 0;
    text-align: justify;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    line-height: 1.3; }

.pagelet--wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }
  @media screen and (max-width: 1201px) {
    .pagelet--wrapper {
      padding: 0 10px; } }

#ppBody {
  font-size: .9em;
  text-align: justify; }

#ppHeader {
  font-size: 1.2em;
  color: #8ec549; }

strong {
  color: #8ec549;
  font-weight: normal;
  font-size: 1.2em; }

.ppConsistencies {
  display: none; }

@media screen and (max-width: 691px) {
  header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: auto; }
    header .logo {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-flex-order: 1;
      order: 1;
      width: 50%;
      height: 50%; }
    header .blurb {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -moz-order: 3;
      -ms-flex-order: 3;
      order: 3;
      background-color: #003d54;
      width: 100%;
      padding: 20px 20px 0;
      padding-top: 10px;
      background-image: url(../img/board-and-phone-dark.jpg);
      background-position: center bottom;
      background-repeat: no-repeat;
      height: 450px;
      text-align: center; }
    header .blurb .social-icons {
      display: none; }
    header .blurb p {
      display: none;
      font-size: 12px; }
    header .tagline.desktop {
      display: none;
      margin: 15px 0; }
    header .blurb .tagline.mobile {
      display: inline-block;
      width: 70%;
      max-width: 200px;
      padding-top: 35px; }
    header .board-and-phone.mobile {
      display: inline-block;
      margin-bottom: -2px; }
    header form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2;
      -webkit-flex-flow: column nowrap;
      -moz-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      width: 50%;
      height: auto; } }
    @media screen and (max-width: 691px) and (max-width: 480px) {
      header form {
        padding: 5px 10px; }
        header form input[type="text"][name],
        header form input[type="email"][name] {
          margin-bottom: 5px;
          margin-top: 0; }
        header form button[type] {
          margin: 0; }
        header form label {
          font-size: 12px;
          margin: 0 0 5px 0;
          white-space: nowrap; } }
@media screen and (max-width: 691px) {
      header form input[type="text"],
      header form input[type="email"],
      header form button {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-bottom: 10px; }

  .waves {
    margin-bottom: 0; }

  .wave {
    width: 100%; }

  footer {
    margin-top: 0;
    padding-top: 75px;
    border-bottom: 0;
    position: relative; }

  footer ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around; }
    footer ul .link {
      margin-right: 0; }

  footer .social-icons {
    display: block;
    top: 20px;
    right: calc(50% - 91px); }

  footer .social-icons .over {
    width: 75px; } }
input.hide,
label.hide {
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  height: 0;
  opacity: 0;
  overflow: hidden; }
  input.hide + button,
  label.hide + button {
    font-size: 1.4em;
    margin-top: -5px;
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear; }

.showing-menu-item.about .pagelet.about, .showing-menu-item.privacypolicy .pagelet.privacypolicy {
  height: auto;
  padding-bottom: 20px;
  opacity: 1;
  -webkit-transition: all 500ms 200ms linear;
  -moz-transition: all 500ms 200ms linear;
  -ms-transition: all 500ms 200ms linear;
  -o-transition: all 500ms 200ms linear;
  transition: all 500ms 200ms linear; }
.showing-menu-item.about .about a, .showing-menu-item.privacypolicy .privacypolicy a {
  text-decoration: underline; }

/*# sourceMappingURL=red9.css.map */
