@import "social";

$logored: #ed145b;
$logolightred: #ed6896;
$logoblack: #322f31;
$logowhite: #ffffff;
$schemeselect: #8dc63e;
$schemeforeground: #002a41;
$schemebackground: #003c55;

.ks-logo-inline {
  height: 30px;
  transform: translateY(-4px);
}

.col-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

body {
  // From Google Fonts, Lato is an Avenir alternative
  font-family: 'Lato', sans-serif;
}

.btn-rednine {
  background: $logoblack;
  color: $logowhite;
}

.btn-rednine:hover, .btn-rednine:focus, .btn-rednine:active, .btn-rednine.active, .open > .dropdown-toggle.btn-rednine {
  background: $logored;
  color: $logowhite;
}

.btn-rednine:active, .btn-rednine.active {
  background: $logolightred;
  color: $logowhite;
  box-shadow: none;
}

img.backstretch-placeholder {
  display: none;
}

.overlay {
  background-color: rgba($schemeforeground, 0.6);
  padding: 1.5em;
  border-radius: 1em;
  margin-top: 2em;

  h1, h2, h3,
  h4, h5, h6, p, label {
    color: $logowhite;
  }
}

.row.spaced {
  margin-top: 5em;
  margin-bottom: 5em;
}

.section {

  &.intro .row {
    min-height: 50vh;
  }

  &.signup .row {
    min-height: 100vh;
  }

  &.device .row {
    min-height: 400px;
    min-height: 80vh;
  }

  &.conclusion .row {
    min-height: 400px;
    min-height: 70vh;
  }
}

.navbar {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .row-sm-whitespace {
    margin-top: 10em !important;
  }
}

// flex-center taken from
// http://stackoverflow.com/a/27771750/2557842
.row-xs-flex-bottom {
  display: flex;
  align-items: flex-end;
}

.row-xs-flex-top {
  display: flex;
  align-items: flex-start;
}

.row-xs-flex-center {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .row-sm-flex-bottom {
    display: flex;
    align-items: flex-end;
  }
  .row-sm-flex-center {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .row-sm-flex-bottom {
    display: flex;
    align-items: flex-end;
  }
  .row-md-flex-center {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .row-sm-flex-bottom {
    display: flex;
    align-items: flex-end;
  }
  .row-lg-flex-center {
    display: flex;
    align-items: center;
  }
}


$bgDefault: $logoblack;
$bgHighlight: #474446;
$colDefault: #ffffff;
$colHighlight: $logoblack;

$dropDown: false;
.navbar-branded {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
  }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover, &:focus {
          color: $colHighlight;
        }
      }
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover, &:focus {
              color: $colHighlight;
              background-color: $bgHighlight;
            }
          }
          .divider {
            background-color: $bgHighlight;
          }
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight;
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}
