@import "../scss/social";
@import "../scss/variables";

.col-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

body {
  // From Google Fonts, Lato is an Avenir alternative
  font-family: 'Lato', sans-serif;
}

.btn-rednine {
  background: $logored;
  color: $logowhite;

  &:hover, &:focus, &:active, &.active, .open > &.dropdown-toggle {
    background: $logoblack;
    color: $logowhite;
  }

  &:active, &.active {
    background: $logolightred;
    color: $logowhite;
    box-shadow: none;
  }
}

.social-icon {
  margin-left: 0.75em;
  margin-right: 0.75em;
}

a {
  &:hover, &:focus, &:active, &.active {
    color: $logored;
  }

  &:active, &.active {
    color: $logowhite;
  }
}

a.legal-href {
  color: #999999;

  &:hover, &:focus, &:active, &.active {
    color: $logored;
  }

  &:active, &.active {
    color: $logowhite;
  }
}



.row.spaced {
  margin-top: 5em;
  margin-bottom: 5em;
}

.row.spaced-short {
  margin-top: 2em;
  margin-bottom: 2em;
}


@media (min-width: 768px) {
  .row-sm-whitespace {
    margin-top: 10em !important;
  }
}

// flex-center taken from
// http://stackoverflow.com/a/27771750/2557842
.row-xs-flex-bottom {
  display: flex;
  align-items: flex-end;
}

.row-xs-flex-top {
  display: flex;
  align-items: flex-start;
}

.row-xs-flex-center {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .row-sm-flex-bottom {
    display: flex;
    align-items: flex-end;
  }
  .row-sm-flex-center {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .row-sm-flex-bottom {
    display: flex;
    align-items: flex-end;
  }
  .row-md-flex-center {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .row-sm-flex-bottom {
    display: flex;
    align-items: flex-end;
  }
  .row-lg-flex-center {
    display: flex;
    align-items: center;
  }
}

footer hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.1));
}

