---
css: navbar.css
---

<nav class="navbar navbar-branded navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header pull-left">

            <a href="/"><img src="/images/red9-logo.png" alt="Red9 Logo"
                             width="60px" height="60px"></a>
        </div>

        <div class="navbar-header pull-right">
            <span class="pull-right">
                {{> social-icons}}
            </span>
        </div>
    </div>
</nav>
