<span class="social-icons">
<a href="https://www.facebook.com/red9surf" target="_new">
    <img class="over facebook" src="/images/fb_icon.png"
         alt="Facebook Link"/>
</a>
<a href="http://www.twitter.com/red9surf" target="_new">
    <img class="over twitter"
         src="/images/twitter-icon.png"
         alt="Twitter Link"/>
</a>
<a href="https://www.instagram.com/red9surf" target="_new">
    <img class="over instagram"
         src="/images/instagram_icon_64x64.png"
         alt="Instagram Link"/>
</a>
</span>