<a href="https://www.facebook.com/red9surf" target="_new" class="social-icon">
    <span class="fa fa-facebook fa-lg"></span>
</a>
<a href="http://www.twitter.com/red9surf" target="_new" class="social-icon">
    <span class="fa fa-twitter fa-lg"></span>
</a>
<a href="https://www.instagram.com/red9surf" target="_new" class="social-icon">
    <span class="fa fa-instagram fa-lg"></span>
</a>
