---
title: Red9 Company Overview
description: Our team, company, and important people.
js: about.js
css: about.css
---

<div class="section about-red9">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="overlay">
                    <h1>The Red9 Team.</h1>

                    <p>
                        Red9’s mission is to enable anyone to achieve their
                        fullest
                        potential.
                    </p>

                    <p>We're a team of surfers, engineers, and business type
                        people.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section team-executives">
    <div class="container">

        <div class="row spaced">
            <div class="col-xs-12">
                <div class="overlay">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="/images/team/people/mike_olson.jpg" alt=""
                                 width="150px" height="150px"
                                 class="img-circle">
                        </div>
                        <div class="col-sm-9">
                            <h2>Mike Olson, <small>Co-Founder</small></h2>

                            <p>Small-cap technology analyst and Portfolio
                                Manager
                                for 3
                                US
                                Mutual Funds (total assets managed $1B+).</p>

                            <p>MBA from University of Southern California.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row spaced overlay">
            <div class="col-sm-3">
                <img src="/images/team/people/mica_parks.jpg" alt=""
                     width="150px" height="150px" class="img-circle">
            </div>
            <div class="col-sm-9">
                <h2>Mica Parks, <small>Co-Founder</small></h2>

                <p>Simulation product engineer: automation, design, engineering,
                    and
                    manufacturing.</p>

                <p>BS in Mechanical Engineering from University of California,
                    Irvine.</p>
            </div>
        </div>

        <div class="row spaced overlay">
            <div class="col-sm-3">
                <img src="/images/team/people/ben_herrick.jpg" alt=""
                     width="150px" height="150px" class="img-circle">
            </div>
            <div class="col-sm-9">
                <h2>Ben Herrick, <small>CEO</small></h2>

                <p></p>
            </div>
        </div>

    </div>
</div>
<div class="section team-staff">
    <div class="container">

        <div class="overlay">

            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">Core Team</h1>
                </div>
            </div>

            <div class="row spaced">
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <img src="/images/team/people/juan_bobillo.jpg" alt=""
                             width="100px" height="100px"
                             class="img-circle">
                    </div>
                    <div class="row"><h4>Juan Bobillo, Marketing</h4></div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <img src="/images/team/people/nick_bryden.jpg" alt=""
                             width="100px" height="100px"
                             class="img-circle">
                    </div>
                    <div class="row"><h4>Nick Bryden, Marketing</h4></div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <img src="/images/team/people/shyama_dorbala.jpg" alt=""
                             width="100px" height="100px"
                             class="img-circle">
                    </div>
                    <div class="row"><h4>Shyama Dorbala, Data Scientist</h4>
                    </div>
                </div>
            </div>
            <div class="row spaced">
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <img src="/images/team/people/jaysen_kim.jpg" alt=""
                             width="100px" height="100px"
                             class="img-circle">
                    </div>
                    <div class="row"><h4>Jaysen Kim, Manager</h4></div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <img src="/images/team/people/kellie_kim.jpg" alt=""
                             width="100px" height="100px"
                             class="img-circle">
                    </div>
                    <div class="row"><h4>Kellie Kim, Marketing</h4></div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <img src="/images/team/people/cody_lewis.jpg" alt=""
                             width="100px" height="100px"
                             class="img-circle">
                    </div>
                    <div class="row"><h4>Cody Lewis, Architect</h4></div>
                </div>
            </div>
            <div class="row spaced">
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <img src="/images/team/people/jeff_olson.jpg" alt=""
                             width="100px" height="100px"
                             class="img-circle">
                    </div>
                    <div class="row"><h4>Jeff Olson, Surfer</h4></div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <img src="/images/team/people/akhil_rao.jpg" alt=""
                             width="100px" height="100px"
                             class="img-circle">
                    </div>
                    <div class="row"><h4>Akhil Rao, Data Scientist</h4></div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="row">
                        <img src="/images/team/people/ian_tilghman.jpg" alt=""
                             width="100px" height="100px"
                             class="img-circle">
                    </div>
                    <div class="row"><h4>Ian Tilghman, Video</h4></div>
                </div>
            </div>
        </div>
    </div>
</div>