@import "../components/scss/social";
@import "../components/scss/variables";
@import "../components/scss/mixins";

.section {
  &.about-red9 {
    @include responsive-background-image('mike_olson_on_wave', 'jpg');
    .row {
      min-height: 70vh;
    }
  }

  &.team-members {
    background-color: $schemebackground;

    color: white;
  }
}
