---
title: Red9 User Benefits and Techonolgy Details
description: Surfing technology meets data science and user first design.
js: features.js
---

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Features</h1>
        </div>
    </div>

    <div class="row spaced wow fadeIn">
        <div class="col-sm-offset-3 col-sm-6">
            <h1>Red9 does data science.</h1>

            <p>We believe that technology improves lives, our data science
                proves it.</p>

            <p>Become a better surfer with advanced algorithms that are
                customized to you. Surf with our device, and
                notice patterns and improvements that you've never even
                thought of before. Yeah. We're that
                good.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-padding wow fadeInLeft">
            <img class="img-responsive center-block"
                 alt="Measurement: Wave Quality"
                 src="/images/stats1-up.jpg"/>
        </div>
        <div class="col-sm-4 col-padding wow fadeInUp">
            <img class="img-responsive center-block"
                 alt="Measurement: Speed and Distance"
                 src="/images/stats2-up.jpg"/>
        </div>
        <div class="col-sm-4 col-padding wow fadeInRight">
            <img class="img-responsive center-block"
                 alt="Measurement: Vertical Angle"
                 src="/images/stats3-up.jpg"/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-padding wow fadeInLeft">
            <img class="img-responsive center-block"
                 alt="Measurement: Rail Angle"
                 src="/images/stats4-up.jpg"/>
        </div>
        <div class="col-sm-4 col-padding wow fadeInUp">
            <img class="img-responsive center-block"
                 alt="Measurement: Rotation"
                 src="/images/stats5-up.jpg"/>
        </div>
        <div class="col-sm-4 col-padding wow fadeInRight">
            <img class="img-responsive center-block"
                 alt="Measurement: Power"
                 src="/images/stats6-up.jpg"/>
        </div>
    </div>


    <div class="row spaced row-sm-flex-center row-sm-whitespace">
        <div class="col-sm-6 col-sm-push-6 wow fadeInRight">
            <h1>Get your data.</h1>

            <p>Get all your most important stats, in one place and ready to
                review. Learn the best way to paddle,
                customized for you. Discover what helps you catch the best
                waves. Red9's advanced data science can
                help you get better, fast.</p>
        </div>
        <div class="col-sm-6 col-sm-pull-6 wow fadeInLeft">
            <img class="img-responsive center-block img-rounded"
                 alt="Example stats page screenshot"
                 src="/images/session_overview.png"/>
        </div>
    </div>


    <div class="row spaced row-sm-flex-center row-sm-whitespace">
        <div class="col-sm-6 wow fadeInLeft">
            <h1>Compete with the locals.</h1>

            <p>Think you're the best ripper on your break? Compete with your
                friends and others who surf at your
                favorite spots, and be the best.</p>

        </div>
        <div class="col-sm-6 wow fadeInRight">
            <img class="img-responsive center-block img-rounded"
                 alt="Example leaderboard screenshot"
                 src="/images/leaderboard.png"/>
        </div>
    </div>

    <div class="row spaced row-sm-flex-center row-sm-whitespace">
        <div class="col-sm-6 col-sm-push-6 wow fadeInRight">
            <h1>Share your achievements.</h1>

            <p>Get a custom session summary that you can share on Facebook
                and other social media sites. You know
                you're the best, let everyone else know too.</p>
        </div>
        <div class="col-sm-6 col-sm-pull-6 wow fadeInLeft">
            <img class="img-responsive center-block img-rounded"
                 alt="Example session share image"
                 src="/images/session_share.png"/>
        </div>
    </div>
</div>