@import "../components/scss/social";
@import "../components/scss/variables";
@import "../components/scss/mixins";

.ks-logo-inline {
  height: 30px;
  transform: translateY(-4px);
}

.section {

  &.signup {

    @include responsive-background-image('indo_teloislands_ledge', 'jpg');

    .section-row {
      min-height: 400px;
      min-height: 100vh;
    }
  }

  &.device {

    @include responsive-background-image('device_front_light_on', 'jpg');

    .section-row {
      min-height: 400px;
      min-height: 80vh;
    }
  }

  &.conclusion {

    @include responsive-background-image('sunset_surf', 'jpg');

    .section-row {
      min-height: 400px;
      min-height: 70vh;
    }
  }
}

input:invalid.touched {
  box-shadow: 0 0 2em red;
}

input:valid.touched {
  box-shadow: 0 0 2em green;
}